//fonts
@import '../fonts/MarkPro.css';

//bootstrap grid only
@import './lib/bootstrap/bootstrap-grid.scss';

// responsive design
@import "./globals/breakpoints";
// global variables
@import "./globals/globals";

body {
    background-color: $theme-grey-dark;
    color: $theme-white;
    font-family: "Mark Pro", sans-serif;
}
.slide {
    background-color: $theme-grey-dark;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#home {
    left: 0;
}

#part1 {
    left: 100%;
}

.section-container {
    position: absolute;
    background-color: $theme-white;
    top: 50%;
    left: 0;
    height: 30px;
    width: 100%;
}


#lps-title {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-8%, 35%);
    color: $theme-color1;
    font-size: 50vw;
    @include md() {
        font-size: 30vw;
    }
    font-weight: 900;
}

#title-text {
    position: absolute;
    font-size: 3vw;
    font-weight: 600;
}

#title-line {
    position: absolute;
    width: 10px;
    height: 250px;
    background-color: $theme-white;
}

#title-logo {
    position: absolute;
    width: 10px;
    height: 250px;
}
