//fonts
@import '../fonts/MarkPro.css';

//bootstrap grid only
@import './lib/bootstrap/bootstrap-grid.scss';
//icons
@import './lib/font-awesome/css/all.min.css';

// responsive design
@import "./globals/breakpoints";
// global variables
@import "./globals/globals";

//Modules
@import "./modules/buttons";

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: $theme-grey-dark;
    color: $theme-white;
    font-family: "Mark Pro", sans-serif;
}

#page-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

::selection {
    color: $theme-color2;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $theme-color1;
    border-radius: 10px;
}

.slide {
    background-color: $theme-grey-dark;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .7s $transition-easing;
    overflow-y: hidden;
    
    &.current {
        overflow-y: visible;
    }
}

#incite {
    position: fixed;
    border: solid $theme-white 3px;
    border-radius: 20px;
    width: 25px;
    height: 50px;
    right: 10px;
    top: 50%;
    transition: all .4s;
    cursor: pointer;

    opacity: 0.5;;

    &::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: $theme-white;
        left: 50%;
        top: 40%;
        animation: bounce 1.5s infinite $transition-easing;
    }
    &:hover {
        opacity: 1;
        border-color: $theme-color2;
    }
    @include touch () {
        border: 3px solid #43f743;
    }
}
#incite-wrapper {
    opacity: 0;
    transition: all .3s;
    pointer-events: none;
    &.delayVisible {
        transition-delay: 5s;
        pointer-events: all;
        opacity: 1;
    }
    &.visible {
        pointer-events: all;
        opacity: 1;
    }
}

@keyframes bounce {
    from {
        transform: translate(-50%, -12px);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate(-50%, 12px);
    }
}

#home-slide {
    left: 0;
    overflow-y: hidden;
}

#part1 {
    left: 100%;
}
#part2 {
    left: 200%;
}

.section-container-wrapper {
    position: absolute;
    top: 95%;
    left: 0;
    width: 100%;
    display: block;
    
    .section-container {
        background-color: $theme-white;
        padding: 20px;
        border-radius: 4px;
        margin-right: auto;
        margin-left: auto;
        color: $theme-black;
        transition: all .4s $transition-easing;

        @include md () {
            width: 750px;
        }
        @include lg () {
            width: 970px;
        }
        @include xl () {
            width: 1170px;
        }
    }
}

#lps-title {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $theme-color1;
    font-size: 50vw;
    animation: lps-fade 1.7s $transition-easing both;
    @include md() {
        font-size: 30vw;
    }
    font-weight: 900;
    @keyframes lps-fade {
        from {
            transform: translate(-10%, 35%);
            opacity: 0;
        }
        to {
            opacity: 1;
            transform: translate(-8%, 35%);
        }
    }
}

#home-title-wrapper {
    position: absolute;
    top: 10vh;
    right: 12vw;
    left: 12vw;
    display: flex;
    justify-content: flex-end;
}

#home-title-fluid-block {
    display: flex;
    flex-direction: column;
    max-width: 550px;
}

#home-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    @include md () {
        flex-direction: row;
    }
}

#title-text {
    padding-left: 10px;
    font-size: 2.5em;
    font-weight: 600;
    animation: fade-text 1s $transition-easing 1s both;
    width: 100px;
    @keyframes fade-text {
        from {
            opacity: 0;
            transform: translate(-20%)
        }
        to {
            opacity: 1;
            transform: translate(0)
        }
    }
}

#title-line {
    width: 100%;
    height: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    animation: trace 1s $transition-easing .5s both;
    @include md () {
        width: 7px;
        height: 250px;
        margin-left: 50px;
        margin-right: 25px; 
    }
    background-color: $theme-color1;
    @keyframes trace {
        from {
            transform: scale(1, 0)
        }
        to {
            transform: scale(1, 1)
        }
    }
}

#title-logo {
    width: 40%;
    max-width: 150px;
    animation: fade-logo 1s $transition-easing 1s both;
    @keyframes fade-logo {
        from {
            opacity: 0;
            transform: translate(20%)
        }
        to {
            opacity: 1;
            transform: translate(0)
        }
    }
}

#home-pres {
    font-size: 1.1em;
    margin-top: 20px;
    animation: fade-pres 1s $transition-easing 1.5s both;
    p {
        margin-right: 0;
        margin-left: 0;
        max-width: 420px;
        text-align: justify;
    }
    @keyframes fade-pres {
        from {
            opacity: 0;
            transform: translateY(-20%)
        }
        to {
            opacity: 1;
            transform: translateY(0)
        }
    }
    .actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        animation: fade-button 1s $transition-easing 3s both;
        @keyframes fade-button {
            from {
                opacity: 0;
                transform: translateY(-10%)
            }
            to {
                opacity: 1;
                transform: translateY(0)
            }
        }
        .btn {
            white-space: nowrap;
        }

    }
}

.background-title-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
}
.background-title {
    color: $theme-color1;
    transition-delay: .7s;
    font-size: 40vw;
    transform: translate(10%, -20%);
    opacity: 0;
    @include md() {
        font-size: 20vw;
    }
    font-weight: 900;
}

.slide.current {
    .background-title {
        opacity: 1;
        transform: translate(8%, -20%);
        transition: transform 1.2s $transition-easing .7s, opacity 1.2s $transition-easing .7s;
    }
}
