//colors
$color-theme-first: #C1772D;
$color-theme-second: #18133a;

$color-gmp-first: #eada74;
$color-gmp-second: #f1d423;

$color-gte-first: #00a159;
$color-gte-second: #007a49;

$color-gccd-first: #fcab1b;
$color-gccd-second: #ee8415;

$color-geii-first: #5040a2;
$color-geii-second: #351b76;

$color-chimie-first: #6becee;
$color-chimie-second: #14d1ee;

$transition-easing: cubic-bezier(.42, 0, .11, .98);
$scroll-moove-transitions: none;
