$theme-color1: #D13434;
$theme-color2: #D04C52;
$theme-grey-dark: #1D1D1D;
$theme-grey-light: #A1A1A1;
$theme-white: #f0f0f0;
$theme-black: #0d0d0d;

$transition-easing: cubic-bezier(.42, 0, .11, .98);